body {
    background: #0f172a;
    color: #e5e7eb;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #020617;
    padding: 30px;
    border-radius: 15px;
    width: 420px;
    box-shadow: 0 0 30px rgba(0,255,255,0.15);
    animation: fadeIn 0.8s ease-in-out;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 120px;
    border-radius: 10px;
    padding: 10px;
    border: none;
    resize: none;
    background: #020617;
    color: white;
    border: 1px solid #334155;
}

button {
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    background: linear-gradient(135deg, #06b6d4, #3b82f6);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.03);
}

.result {
    margin-top: 20px;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    opacity: 0;
    transform: translateY(10px);
}

.result.show {
    opacity: 1;
    transform: translateY(0);
    transition: all 0.4s ease;
}

.confidence {
    margin-top: 8px;
    font-size: 14px;
    color: #38bdf8;
    text-align: center;
}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}


.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.tab {
    flex: 1;
    padding: 8px;
    border-radius: 8px;
    border: none;
    background: #020617;
    color: white;
    cursor: pointer;
    border: 1px solid #334155;
}

.tab.active {
    background: #0ea5e9;
}

.tab-content {
    display: none;
    animation: slide 0.4s ease;
}

.tab-content.active {
    display: block;
}

@keyframes slide {
    from { opacity: 0; transform: translateY(8px); }
    to { opacity: 1; transform: translateY(0); }
}

.coming {
    margin-top: 10px;
    text-align: center;
    color: #94a3b8;
}

.accuracy {
    text-align: center;
    font-size: 13px;
    color: #22c55e;
    margin-bottom: 10px;
}

textarea:focus {
    outline: none;
    border-color: #38bdf8;
    box-shadow: 0 0 8px rgba(56,189,248,0.4);
}

